/* styles.css */

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  justify-items: center;
  min-height: 100vh;
  padding: 80px 0;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding-top: 30px;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', 'sans-serif';
  font-size: 18px;
  font-weight: 'regular';
}

.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  text-decoration: none;
  color: #6E727E;
}

.whyCustomers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 50px 0;
}

.customersGrid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 30px;
}

.customerItem {
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: calc(33.333% - 20px);
  margin: 10px; 
  transition: all 0.3s ease;
}


.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f5;
  color: #333;
  padding: 40px 20px;
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.linkRow {
  display: flex;
  justify-content: flex-start; /* Изменяем отступы на начало */
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px; /* Уменьшаем верхний отступ */
}

.link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 20px; /* Добавляем отступ справа для разделения ссылок */
}